<html>
    <form action="/delete_books" method="post">
    <div  id="tabless">
        <table id="table4">
            <caption><b>All books list</b></caption>
            <thead>
            <th>Name of book</th>
            <th>Author</th>
            </thead>
        <tbody id="table5"></tbody>
        </table>
        <div id="bn3"><button type="submit" name="book_changes" style="align-items: center;">Delete</button></div></div>
        <p></p>
        <!-- <span>
        <input type="text" name="add_new_book" placeholder="Book name">
        <input type="text" name="add_author" placeholder="Author">
        <input type="number" name="add_qty" placeholder= 0 >
        <button type="submit" name="add_books">Add</button>
        <button type="submit" id="admin_changes_submit">Submit</button>
    </span> -->
        </form>
        </div>
    </body>
    <script>
        dat2 = <%- JSON.stringify(data3) %>;
    console.log(dat2);
    const tbodyel2 = document.getElementById("table5");
    if(dat2[0]!=undefined){
    for(let i=0; dat2[i]!=undefined; i++){
        tbodyel2.innerHTML += '<tr><td>'+dat2[i].book_name+'</td><td>'+dat2[i].author+'</td><td><input type = "checkbox" name="delete_book" value="'+dat2[i].book_name+'"> </td></tr>';
    }
}
    else{
        const tablej = document.getElementById("table4");
        tablej.innerHTML = '<style> display:none; </style>'
        tablej.innerHTML = '<p style = "text-align:center">No books to display</p>'
    }
    </script>
</html>