<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<div>
    <h1><%= data %></h1>
    <input type="submit" value="done">
</div>
<style>
    body{
        background-color: black;
        color: white;
    }
div{
    /* display: flex;
    flex-direction: column;
    justify-items: center;
    width: 20vw;
    margin-left: 40vw;
    margin-top: 10vh; */
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-items: center;
    align-content: center;
    height: 100%;
}
</style>